.projectsSection {
	background-color: #081d36;
	min-height: 900px;
	width: 100%;
	padding-top: 10rem;

	.projectsTittle {
		display: flex;
		flex-flow: column;
		align-items: start;
		padding-top: 2rem;

		.projectsTittle__Tittle {
			height: 20%;
			font-size: 2.5rem;
		}

		.projectsTittle__Text {
			padding-top: 5rem;
			padding-bottom: 5rem;
			height: 20%;
			font-size: 1.5rem;
		}
	}

	.projectsCards__Card {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		min-height: 40rem;
		max-height: 45rem;
		width: 100%;
		padding: 2.5rem;
		margin-bottom: 3rem;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 50px;
		backdrop-filter: blur(4px);

		a {
			width: 100%;
			img {
				height: 15rem;
			}
		}

		.projectsCards__Links {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;

			a {
				width: 100%;
				font-size: 3.5rem;
			}
		}
		.projectsCards__Name {
			font-size: 1.8rem;
			text-align: center;
		}

		.projectsCards__TechImg {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			align-items: center;
			width: 100%;

			img {
				width: 3.5rem;
			}
		}
	}

	.projectsCards_Pagination {
		display: flex;
		justify-content: center;

		button {
			color: #fff;
		}

		/* .css-19micn4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
			background-color: yellow;
		} */
	}
}

.spacer {
	aspect-ratio: 960/300;
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.layer3 {
	background-image: url('./../../assets/img/layer3.svg');
}
