@use './mixins/mixins';

section {
	position: relative;
	@include mixins.paddingSection(2.5rem, 2.5rem);
	box-sizing: border-box;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;

	h1 {
		font-size: 2.5rem;
	}
}
