@use './mixins' as mixin;

section {
	position: relative;
	@include mixin.flexbox(flex, column, nowrap, space-between);
	box-sizing: border-box;
	top: 0;
	left: 0;
	padding: 1.5rem;
	min-height: 100vh;
	height: 100%;
	width: 100%;
}
