@use './mixins' as mixin;

/* Screens */

$bigger-screen: 480px;

section {
	position: relative;
	@include mixin.flexbox(flex, column, nowrap, space-between);
	box-sizing: border-box;
	top: 0;
	left: 0;
	padding: 1.5rem;
	min-height: 100vh;
	height: 100%;
	width: 100%;
}

// Navbar Styles ------------------------------ //

@mixin flexHeader($flex, $direction, $cut, $justify, $align) {
	display: $flex;
	flex-flow: $direction $cut;
	justify-content: $justify;
	align-items: $align;

	@media (min-width: $bigger-screen) {
		flex-flow: row nowrap;
	}
}

// Navbar Styles ------------------------------ //
