// FlexBox ------------------------------------ //

@mixin flexbox($flex, $direction, $cut, $justify) {
	display: $flex;
	flex-flow: $direction $cut;
	justify-content: $justify;
}

// FlexBox ------------------------------------ //
