@mixin contentBox ($height) {

    height: $height;

    @media (min-width: 480px) {

        height: 5rem;

    }

}

@mixin typographyStyle ($size, $weight) {

    font-size: $size;
    font-weight: $weight;

    @media (min-width: 480px) {
        font-size: medium;
        font-weight: 500;
    }
    
}

@mixin hiddenNavbar ($transalteX) {

    transform: translateX($transalteX) ;

    @media (min-width: 480px) {
        transform: translateX(0);
    }

}


@mixin linksUnderline ($paddingX, $paddingY) {
    
    padding: $paddingX $paddingY;

    @media (min-width: 480px) {
        
        padding: 12px 23px;

    }

}

@mixin underlineSeparation ($left, $width) {

    left: $left;
    width: $width;

    @media (min-width: 480px) {
        
        left: 10%;
        width: 80%;

    }
    
}