@use './../../styles/mixins/mixins';

.burguerButton {
	position: fixed;
	display: flex;
	justify-content: end;
	width: 100%;
	z-index: 10;
}

.header {
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	@include mixins.navbarHeight(100vh);
	z-index: 3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: transform 0.3s ease;
	transform: translateX(0);

	&.header--hidden {
		@include mixins.hiddenNavbar(-100%);
	}
}
