// headerStyles.scss
@use './../../styles/base';
@use './../../styles/layout' as layout;
@use './../../styles/modules' as modules;


.header {

    @include modules.contentBox(auto, 1rem);
    @include modules.typographyStyle(medium, 500);
    background-color: var(--color-background);
    color: var(--typography-color);

    .nav {
        width: 100%;
        @include layout.flexible(flex, row, nowrap, center, center);

        
        .nav__li {
            padding: 1rem;
        }
    }
}
