// Navbar
$navbar-background: #1b5a9d;

// Backgrounds Section colors
$primary-background-color: #205295;
$secondary-background-color: #144272;
$tertiary-background-color: #0a2647;
$quaternary-background-color: #081d36;
$quinary-background-color: #051323;

// Others
$background-color: #202731;
$text-color: #fff;
