@use './../../styles/variables/variables';
@use './../../styles/mixins/mixins';

.scrollTopButton {
	position: fixed;
	cursor: pointer;
	right: 1.5rem;
	bottom: 1.5rem;
	z-index: 3;
	@include mixins.fontSizeScrollTopButton(3rem);
	border-radius: 50%;
	opacity: 0;
	background-color: variables.$accent-color;
	animation-name: fadeIn;
	animation-timing-function: ease-in;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	transition: 0.3s ease-in-out;

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
		transition: 0.3s ease-in-out;
	}

	&.pulsing::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 50%;
		background-color: variables.$accent-color;
		z-index: -1;
		animation-name: pulse;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
	}

	&.fadeOut {
		animation: fadeOut ease-out 300ms;
	}
}

@keyframes liftButton {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-3px);
	}
}

@keyframes pulse {
	0% {
		opacity: 0;
		transform: scale(1);
	}

	100% {
		opacity: 0.3;
		transform: scale(1.4);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
