@use './../variables/screens';

// About Styles ------------------------------ //

@mixin fontSizeText1($fontSize) {
	font-size: $fontSize;

	@media (min-width: screens.$small-phones) {
		font-size: 1.6rem;
	}

	@media (min-width: screens.$phones-small-tablets) {
		font-size: 1.6rem;
	}
}

// About Styles ------------------------------ //
