@use './../variables/screens';

// About Styles ---------------------------------------------------------------------------------------- //

// About Section Wrapper ----------------------- //

@mixin gapAboutSectionWrapper($gap) {
	gap: $gap;

	@media (min-width: screens.$phones-small-tablets) {
		gap: 8rem;
	}
}

// About Section Wrapper ----------------------- //

// About Content Wrapper ----------------------- //

@mixin flexAboutContentWrapper($flex, $direction, $cut, $justify) {
	display: $flex;
	flex-flow: $direction $cut;
	justify-content: $justify;

	@media (min-width: screens.$phones-small-tablets) {
		flex-direction: row;
	}
}

// About Content Wrapper ----------------------- //

// About Text Container ------------------------ //

@mixin maxWidthTextContainer($max) {
	max-width: $max;

	@media (min-width: screens.$tablets-small-screens) {
		max-width: 800px;
	}
}

// About Text Container ------------------------ //

// About Text 1 ------------------------------- //

@mixin fontSizeText1($fontSize) {
	font-size: $fontSize;

	@media (min-height: screens.$large-phone-screen) {
		font-size: 1.4rem;
	}

	@media (min-width: screens.$small-phones) {
		font-size: 1.6rem;
	}

	@media (min-width: screens.$phones-small-tablets) {
		font-size: 1.6rem;
	}

	@media (min-width: screens.$tablets-small-screens) {
		font-size: 2rem;
	}

	@media (min-width: screens.$screens) {
		font-size: 1rem;
	}
}

// About Text 1 ------------------------------- //

// About Text 2 ------------------------------- //

@mixin fontSizeText2($fontSize) {
	font-size: $fontSize;

	@media (min-height: screens.$large-phone-screen) {
		font-size: 1.6rem;
	}

	@media (min-width: screens.$small-phones) {
		font-size: 1.6rem;
	}

	@media (min-width: screens.$phones-small-tablets) {
		font-size: 1.6rem;
	}

	@media (min-width: screens.$tablets-small-screens) {
		font-size: 2rem;
	}

	@media (min-width: screens.$screens) {
		font-size: 1rem;
	}
}

// About Text 2 ------------------------------- //

// Social Media Icons ------------------------- //

@mixin flexSocialMediaIconsContainer($flex, $direction, $cut, $justify) {
	display: $flex;
	flex-flow: $direction $cut;
	justify-content: $justify;

	@media (min-width: screens.$phones-small-tablets) {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
	}
}

// Social Media Icons ------------------------- //

// About Styles ---------------------------------------------------------------------------------------- //
