@use './../variables/screens';

// Header Styles ------------------------------------------------------------------------ //

@mixin heightHeader($height) {
	height: $height;

	@media (min-width: screens.$phones-small-tablets) {
		height: 8rem;
	}

	@media (min-width: screens.$screens) {
		height: 5rem;
	}
}

@mixin hiddenHeader($transalteX) {
	transform: translateX($transalteX);

	@media (min-width: screens.$phones-small-tablets) {
		transform: translateX(0);
	}
}

// Header Styles ------------------------------------------------------------------------ //
