@use './../variables/screens';

// Section Styles ------------------------------ //

@mixin flexSection($flex, $direction, $cut, $justify) {
	display: $flex;
	flex-flow: $direction $cut;
	justify-content: $justify;
}

@mixin paddingSection($paddingY, $paddingX) {
	padding: $paddingY $paddingX;

	@media (min-width: screens.$small-phones) {
		padding: 3rem 3rem;
	}

	@media (min-width: screens.$phones-small-tablets) {
		padding: 4rem 4rem;
	}

	@media (min-width: screens.$tablets-small-screens) {
		padding: 5rem 5rem;
	}

	@media (min-width: screens.$screens) {
		padding: 8rem 8rem;
	}
}

@mixin minHeightSection($minHeight) {
	min-height: $minHeight;

	@media (min-width: screens.$small-phones) {
		min-height: 1000px;
	}

	@media (min-width: screens.$phones-small-tablets) {
		min-height: 400px;
	}
}

// Section Styles ------------------------------ //
