@use './../variables/screens';

// Section Styles ------------------------------ //

@mixin paddingSection($paddingY, $paddingX) {
	padding: $paddingY $paddingX;

	@media (min-width: screens.$small-phones) {
		padding: 3rem 3rem;
	}

	@media (min-width: screens.$phones-small-tablets) {
		padding: 4rem 4rem;
	}

	@media (min-width: screens.$tablets-small-screens) {
		padding: 5rem 5rem;
	}

	@media (min-width: screens.$screens) {
		padding: 8rem 8rem;
	}
}

@mixin neomorphismBoxStyle() {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	backdrop-filter: blur(4px);
}

@mixin revealBottomAnimation(
	$name: bottomReveal,
	$type: linear,
	$direction: both,
	$timeline: view(),
	$entry: 20%,
	$cover: 30%
) {
	animation-name: $name;
	animation-timing-function: $type;
	animation-fill-mode: $direction;
	animation-timeline: $timeline;
	animation-range: entry $entry cover $cover;

	@keyframes bottomReveal {
		from {
			opacity: 0.4;
			translate: 0 100px;
		}

		to {
			opacity: 1;
			translate: 0 0;
		}
	}
}

@mixin revealFadeInAnimation(
	$name: fadeInReveal,
	$time: 2s,
	$direction: forwards
) {
	animation-name: $name;
	animation-duration: $time;
	animation-fill-mode: $direction;

	@keyframes fadeInReveal {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}

// Section Styles ------------------------------ //
