@use './../variables/screens';

// Marc Styles ---------------------------------------------------------------------------------------- //

// Marc Section ------------------------------ //

@mixin flexMarcSection($flex, $direction, $cut, $justify, $align) {
	display: $flex;
	flex-flow: $direction $cut;
	justify-content: $justify;
	align-items: $align;

	@media (min-width: screens.$small-phones) {
		display: flex;
		flex-flow: row-reverse nowrap;
		justify-content: space-around;
		align-items: center;
	}
}

@mixin paddingYMarcSection($paddingTop, $paddingBottom) {
	padding-top: $paddingTop;
	padding-bottom: $paddingBottom;

	@media (min-width: screens.$screens) {
		padding-top: 10rem;
	}
}

@mixin gapSectionWrapper($gap) {
	gap: $gap;

	@media (min-width: screens.$small-phones) {
		gap: 4rem;
	}
}
// Marc Section ------------------------------ //

// Marc Img ---------------------------------- //

@mixin flexImg($flex, $justify, $align) {
	display: $flex;
	justify-content: $justify;
	align-items: $align;
}

// Marc Img ---------------------------------- //

// Marc Wrapper ------------------------------ //

@mixin gapMarcWrapper($gap) {
	gap: $gap;

	@media (min-height: screens.$large-phone-screen) {
		gap: 6rem;
	}

	@media (min-width: screens.$small-phones) {
		gap: 4rem;
	}

	@media (min-width: screens.$tablets-small-screens) {
		gap: 7rem;
	}
}

@mixin fontSizeTitle($size) {
	font-size: $size;

	@media (min-height: screens.$large-phone-screen) {
		font-size: 2.2rem;
	}

	@media (min-width: screens.$tablets-small-screens) {
		font-size: 2.6rem;
	}
}

@mixin fontSizeAutoTyped($size) {
	font-size: $size;

	@media (min-height: screens.$large-phone-screen) {
		font-size: 1.2rem;
	}
}

@mixin H4Height($height) {
	height: $height;

	@media (min-width: screens.$small-phones) {
		height: 4rem;
	}
}

@mixin fontSizeButton($size) {
	font-size: $size;

	@media (min-height: screens.$large-phone-screen) {
		font-size: 1.4rem;
	}
}
// Marc Wrapper ------------------------------ //

// Marc Styles ---------------------------------------------------------------------------------------- //
