@use './../variables/screens';

// Navbar Styles ------------------------------ //

@mixin flexNavbar($flex, $direction, $cut, $justify, $align) {
	display: $flex;
	flex-flow: $direction $cut;
	justify-content: $justify;
	align-items: $align;

	@media (min-width: screens.$phones-small-tablets) {
		flex-flow: row nowrap;
	}
}

@mixin heightNavbar($height) {
	height: $height;

	@media (min-width: screens.$phones-small-tablets) {
		height: 8rem;
	}

	@media (min-width: screens.$screens) {
		height: 5rem;
	}
}

@mixin typographySize($size) {
	font-size: $size;

	@media (min-width: screens.$phones-small-tablets) {
		font-size: 1.6rem;
	}

	@media (min-width: screens.$tablets-small-screens) {
		font-size: 2rem;
	}

	@media (min-width: screens.$screens) {
		font-size: 1.5rem;
	}
}

@mixin linksUnderline($paddingX, $paddingY) {
	padding: $paddingX $paddingY;

	@media (min-width: screens.$tablets-small-screens) {
		padding: 12px 23px;
	}
}

// Navbar Styles ------------------------------ //
