@use './../variables/screens';

// Navbar Styles ------------------------------ //

@mixin flexHeader($flex, $direction, $cut, $justify, $align) {
	display: $flex;
	flex-flow: $direction $cut;
	justify-content: $justify;
	align-items: $align;

	@media (min-width: screens.$tablets-small-screens) {
		flex-flow: row nowrap;
	}
}

@mixin hiddenNavbar($transalteX) {
	transform: translateX($transalteX);

	@media (min-width: screens.$tablets-small-screens) {
		transform: translateX(0);
	}
}

@mixin navbarHeight($height) {
	height: $height;

	@media (min-width: screens.$tablets-small-screens) {
		height: 6rem;
	}

	@media (min-width: screens.$screens) {
		height: 8rem;
	}
}

@mixin typographyStyle($size, $weight) {
	font-size: $size;
	font-weight: $weight;

	@media (min-width: screens.$phones-small-tablets) {
		font-size: 2.8rem;
		font-weight: bold;
	}

	@media (min-width: screens.$tablets-small-screens) {
		font-size: 2rem;
		font-weight: 500;
	}

	@media (min-width: screens.$screens) {
		font-size: 2.6rem;
		font-weight: 500;
	}
}

@mixin linksUnderline($paddingX, $paddingY) {
	padding: $paddingX $paddingY;

	@media (min-width: screens.$tablets-small-screens) {
		padding: 12px 23px;
	}
}

@mixin underlineSeparation($left, $width) {
	left: $left;
	width: $width;

	@media (min-width: screens.$tablets-small-screens) {
		left: 10%;
		width: 80%;
	}
}

// Navbar Styles ------------------------------ //
