@use './../variables/screens';

// Projects Styles ---------------------------------------------------------------------------------------- //

// Tech Title ------------------------------------ //

/* @mixin paddingTopTechTitle($padding) {
	padding-top: $padding;

	@media (min-width: screens.$phones-small-tablets) {
		padding-top: 5rem;
	}
} */

// Tech Title ------------------------------------ //

// Project Card  --------------------------------- //

@mixin paddingProjectsCard($padding) {
	padding: $padding;

	@media (min-width: screens.$tablets-small-screens) {
		padding: 3.5rem;
	}
}

@mixin widthProjectCard($widht) {
	width: $widht;

	@media (min-width: screens.$phones-small-tablets) {
		width: 47%;
	}
}

// Project Card Title  --------------------------- //

@mixin fontSizeTitleProjectCard($size) {
	font-size: $size;

	@media (min-width: screens.$tablets-small-screens) {
		font-size: 2rem;
	}
}

// Project Card Title  --------------------------- //

// Project Card IMG  ----------------------------- //

@mixin projectTechImgWidth($widht) {
	width: $widht;

	@media (min-width: screens.$tablets-small-screens) {
		width: 3.5rem;
	}
}

// Project Card IMG  ----------------------------- //

// Project Card  --------------------------------- //

// Projects Styles ---------------------------------------------------------------------------------------- //
