@use './../../styles/mixins/mixins';
@use './../../styles/variables/variables';

.marcSection {
	@include mixins.paddingYMarcSection(2rem, 2rem);
	width: 100%;
	background: variables.$primary-background-color;

	.marcSectionWrapper {
		@include mixins.flexMarcSection(
			flex,
			column,
			nowrap,
			space-between,
			center
		);
		width: 100%;
		height: 100%;
		gap: 1rem;

		@media (min-width: 576px) {
			gap: 4rem;
		}

		.imgContainer {
			display: block;
			padding: 2rem 3rem;
			background: rgba(255, 255, 255, 0.1);
			border-radius: 20px;
			backdrop-filter: blur(4px);
			width: 100%;

			img {
				width: 100%;
			}
		}

		.marcWrapper {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			width: 100%;
			@include mixins.gapMarcWrapper(3rem);

			.titleContainer {
				width: 100%;

				span {
					font-size: 2.5rem;
				}
			}

			.autoTypedContainer {
				display: flex;
				align-items: center;
				max-width: 350px;
				h4 {
					@include mixins.fontSizeAutoTyped(1rem);
					@include mixins.H4Height(2rem);
				}
			}

			.buttonContainer {
				display: block;
				width: 100%;
				&__Button {
					width: 100%;
					max-width: 300px;
					padding: 0 2rem;
					height: 4.5rem;
					background: rgba(255, 255, 255, 0.1);
					border-radius: 50px;
					backdrop-filter: blur(4px);
					font-size: 1.2rem;
				}
			}
		}
	}
}
