.marcSection {
	background: #3c31dd;
	min-height: 900px;
	width: 100%;
	padding-bottom: 10rem;

	.imgContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 2rem;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 50px;
		backdrop-filter: blur(4px);
	}

	.titleContainer {
		display: flex;
		align-items: center;
		height: 20%;
		font-size: 2.5rem;
	}

	.autoTypedContainer {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		height: 20%;
		width: 100%;
		h4 {
			font-size: larger;
			min-height: 3rem;
		}
	}

	.buttonContainer {
		display: flex;
		align-items: center;
		&__Button {
			width: 100%;
			height: 3rem;
			background: rgba(255, 255, 255, 0.1);
			border-radius: 50px;
			backdrop-filter: blur(4px);
		}
	}
}
