@use './../../../styles/layout' as layout;
@use './../../../styles/modules' as modules;

.navbar {
	@include layout.flexHeader(flex, column, nowrap, center, center);
	@include modules.navbarHeight(100vh);
	@include modules.typographyStyle(larger, bold);
	background-color: var(--color-background);
	color: var(--typography-color);

	.navbar__list {
		@include layout.flexHeader(flex, column, nowrap, center, center);

		.navbar__item {
			height: auto;
			padding: 0.5rem;

			.navbar__link {
				position: relative;
				text-align: center;
				@include modules.linksUnderline(10px, 20px);
				transition: ease-in-out 0.5s;
				cursor: pointer;

				.navbar__underline {
					position: absolute;
					left: 0;
					height: 100%;
					width: 100%;
					z-index: 3;
					border-bottom: solid 2px var(--color-accent);
					transform: scale(0) translateY(50px);
					border-radius: 15px;
					opacity: 0;
					transition: ease-in-out 0.5s;
				}

				&:hover {
					color: var(--color-accent);

					.navbar__underline {
						height: 100%;
						width: 100%;
						transform: scale(1) translateY(-10px);
						opacity: 1;
					}
				}
			}
		}
	}
}
